
  .list {
      list-style: none;
  }

  .link, .logo-link, .buttons {
      text-decoration: none;
  }
  
  .body {
    font-family: 'Roboto'
  }
  
  
  /*------------Heder---------*/

  .logo-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  }

.current {
    font-weight: 900;
    color: #000000;
}

.logo {
    font-weight: 900;
    color: #2196F3
}

.menu-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.menu-link:hover,
.menu-link:focus {
    color: #2196F3;
}

.contact-number,
.contact-mail {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
        color: #757575;
}

.contact-mail:hover,
.contact-mail:focus,
.contact-number:hover,
.contact-number:focus {
    color: #2196F3;
}

/*--------------Hero------------*/



.main-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #2F303A;
}

.modal-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    
    background-color: #2196F3;
    
    /*color: #ffffff;*/
}
 
.text-btn {
    color: #ffffff;
}

.text-btn:hover,
.text-btn:focus
 {
    visibility: hidden;
}

.list-main {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}

.text-list {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
    color: #757575;
}

/*H2*/

.task-list {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;

}

.team-list {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121
}

.team-special {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;
}

/*------------------Footer---------------*/

.contact-list {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
    color: #757575;
}

/*----------------Main2-----------*/

.buttons {
    font-family:'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

    background: #F5F4FA;
    
    color: #212121;

}    



.buttons:hover,
.buttons:focus {
    color: #ffffff;
    background-color: #2196F3
}

.menu-list {
    font-family:'Roboto', sans-serif;
    font-style: Bold;
    font-weight: 500;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    letter-spacing: 0.06em;
    
}
     
.menu-item {
    font-family:'Roboto',
    sans-serif;
    font-style: Regular;
    font-size: 16px;
    line-height: 1.87;
    text-align: left;
    color: #757575;


}


















